<!--LoadMore First block-->
<div class="cbp-loadMore-block1">
    <!--portfolio 1-->
    <div class="cbp-item graphic">
        <div class="cbp-item-wrap">
            <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                    <img src="contents/images/portfolios/600x600/9.jpg" alt=""> </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <div class="btn-group">
                                <a href="projects/project9.html" class="cbp-singlePage btn text-lowercase" rel="nofollow" data-cbp-singlePage="projects">more info</a>
                                <a href="https://www.youtube.com/watch?v=3wbvpOIIBQA" class="cbp-lightbox btn btn-sm text-lowercase btn-right" data-title="GoPro: HERO3+ Black Edition<br>by GoPro">view video</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cbp-l-grid-projects-title uppercase text-center uppercase text-center">Project Nine</div>
            <div class="cbp-l-grid-projects-desc uppercase text-center uppercase text-center">Web Design / Graphic</div>
        </div>
    </div>
    <!--/portfolio 1-->
    <!--portfolio 2-->
    <div class="cbp-item graphic">
        <div class="cbp-item-wrap">
            <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                    <img src="contents/images/portfolios/600x600/10.jpg" alt=""> </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <div class="btn-group">
                                <a href="projects/project10.html" class="cbp-singlePage btn text-lowercase" rel="nofollow" data-cbp-singlePage="projects">more info</a>
                                <a href="contents/images/portfolios/1400x900/01.jpg" class="cbp-lightbox btn btn-sm text-lowercase btn-right" data-title="Granite Stationery: Documents Perspective<br>by Aaron Covrett">view larger</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cbp-l-grid-projects-title uppercase text-center uppercase text-center">Project Ten</div>
            <div class="cbp-l-grid-projects-desc uppercase text-center uppercase text-center">Web Design / Graphic</div>
        </div>
    </div>
    <!--/portfolio 2-->
    <!--portfolio 3-->
    <div class="cbp-item graphic">
        <div class="cbp-item-wrap">
            <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                    <img src="contents/images/portfolios/600x600/11.jpg" alt=""> </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <div class="btn-group">
                                <a href="projects/project11.html" class="cbp-singlePage btn text-lowercase" rel="nofollow" data-cbp-singlePage="projects">more info</a>
                                <a href="http://vimeo.com/1084537" class="cbp-lightbox btn btn-sm text-lowercase btn-right" data-title="Big Buck Bunny<br>by Blender Foundation">view video</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cbp-l-grid-projects-title uppercase text-center uppercase text-center">Project Eleven</div>
            <div class="cbp-l-grid-projects-desc uppercase text-center uppercase text-center">Web Design / Graphic</div>
        </div>
    </div>
    <!--/portfolio 3-->
    <!--portfolio 4-->
    <div class="cbp-item graphic">
        <div class="cbp-item-wrap">
            <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                    <img src="contents/images/portfolios/600x600/12.jpg" alt=""> </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <div class="btn-group">
                                <a href="projects/project12.html" class="cbp-singlePage btn text-lowercase" rel="nofollow" data-cbp-singlePage="projects">more info</a>
                                <a href="contents/images/portfolios/1400x900/02.jpg" class="cbp-lightbox btn btn-sm text-lowercase btn-right" data-title="Granite Stationery: Resume Perspective<br>by Aaron Covrett">view larger</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cbp-l-grid-projects-title uppercase text-center uppercase text-center">Project Twelve</div>
            <div class="cbp-l-grid-projects-desc uppercase text-center uppercase text-center">Web Design / Graphic</div>
        </div>
    </div>
    <!--/portfolio 4-->
</div>
<!--/LoadMore First block-->
<!--LoadMore second block-->
<div class="cbp-loadMore-block2">
    <!--portfolio 1-->
    <div class="cbp-item graphic">
        <div class="cbp-item-wrap">
            <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                    <img src="contents/images/portfolios/600x600/13.jpg" alt=""> </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <div class="btn-group">
                                <a href="projects/project13.html" class="cbp-singlePage btn text-lowercase" rel="nofollow" data-cbp-singlePage="projects">more info</a>
                                <a href="https://www.youtube.com/watch?v=3wbvpOIIBQA" class="cbp-lightbox btn btn-sm text-lowercase btn-right" data-title="GoPro: HERO3+ Black Edition<br>by GoPro">view video</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cbp-l-grid-projects-title uppercase text-center uppercase text-center">Project Thirteen</div>
            <div class="cbp-l-grid-projects-desc uppercase text-center uppercase text-center">Web Design / Graphic</div>
        </div>
    </div>
    <!--/portfolio 1-->
    <!--portfolio 2-->
    <div class="cbp-item graphic">
        <div class="cbp-item-wrap">
            <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                    <img src="contents/images/portfolios/600x600/14.jpg" alt=""> </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <div class="btn-group">
                                <a href="projects/project14.html" class="cbp-singlePage btn text-lowercase" rel="nofollow" data-cbp-singlePage="projects">more info</a>
                                <a href="contents/images/portfolios/1400x900/03.jpg" class="cbp-lightbox btn btn-sm text-lowercase btn-right" data-title="Granite Stationery: Resume Close-Up<br>by Aaron Covrett">view larger</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cbp-l-grid-projects-title uppercase text-center uppercase text-center">Project Fourteen</div>
            <div class="cbp-l-grid-projects-desc uppercase text-center uppercase text-center">Web Design / Graphic</div>
        </div>
    </div>
    <!--/portfolio 2-->
    <!--portfolio 3-->
    <div class="cbp-item graphic">
        <div class="cbp-item-wrap">
            <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                    <img src="contents/images/portfolios/600x600/15.jpg" alt=""> </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <div class="btn-group">
                                <a href="projects/project15.html" class="cbp-singlePage btn text-lowercase" rel="nofollow" data-cbp-singlePage="projects">more info</a>
                                <a href="http://vimeo.com/1084537" class="cbp-lightbox btn btn-sm text-lowercase btn-right" data-title="Big Buck Bunny<br>by Blender Foundation">view video</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cbp-l-grid-projects-title uppercase text-center uppercase text-center">Project Fifteen</div>
            <div class="cbp-l-grid-projects-desc uppercase text-center uppercase text-center">Web Design / Graphic</div>
        </div>
    </div>
    <!--/portfolio 3-->
    <!--portfolio 4-->
    <div class="cbp-item graphic">
        <div class="cbp-item-wrap">
            <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                    <img src="contents/images/portfolios/600x600/16.jpg" alt=""> </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <div class="btn-group">
                                <a href="projects/project16.html" class="cbp-singlePage btn text-lowercase" rel="nofollow" data-cbp-singlePage="projects">more info</a>
                                <a href="contents/images/portfolios/1400x900/01.jpg" class="cbp-lightbox btn btn-sm text-lowercase btn-right" data-title="Granite Stationery: Documents Perspective<br>by Aaron Covrett">view larger</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cbp-l-grid-projects-title uppercase text-center uppercase text-center">Project Sixteen</div>
            <div class="cbp-l-grid-projects-desc uppercase text-center uppercase text-center">Web Design / Graphic</div>
        </div>
    </div>
    <!--/portfolio 4-->
</div>
<!--/LoadMore second block-->