<!DOCTYPE html>
<html lang="en" ng-app="myApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>[VDP] Visual Dictionary Project </title>
        <meta name="description" content="Neuer is a responsive portfolio template for creative people.">
        <meta name="author" content="ThemeBang">
        <meta name="designer" content="ThemeBang">
        <meta name="reply-to" content="themebang@gmail.com">
        <meta name="copyright" content="(c) 2017 ThemeBang - www.themebang.com">
        <meta name="robots" content="index, follow">
        <!--Verifitication-->
        <meta name="google-site-verification" content="">
        <meta name="alexaVerifyID" content="">
        <meta name="yandex-verification" content="">
        <meta name="msvalidate.01" content="">
        <!-- / Verifitication-->
        <link rel="shortcut icon" href="./contents/images/icons/favicon.png">
        <link rel="canonical" href="http://www.domainname.com/">
        <!-- CSS -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700" rel="stylesheet" type="text/css">
        <link href="./contents/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="./contents/css/hover-min.css" rel="stylesheet" type="text/css">
        <link href="./contents/portfolio/css/cubeportfolio.css" rel="stylesheet" type="text/css">
        <link href="./contents/portfolio/css/portfolio.min.css" rel="stylesheet" type="text/css">
        <link href="./contents/css/customize.css" rel="stylesheet" type="text/css">
        <!-- Font Awesome -->
        <script src="https://use.fontawesome.com/e9965a82bb.js"></script>
    </head>
    <body ng-controller="elementController" style="background-color:#FDFCFC;">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <!--Title and Subtitle-->
          <div class="cbp-l-project-title">{{element.topic}}</div>
          <div class="cbp-l-project-title"><i>{{element.subtopic}}</i></div>
          <div class="cbp-l-project-subtitle"> Page : {{element.page}}</b></div>
          <!--/Title and Subtitle-->
          <!--Slider-->
          <div class="cbp-slider">
              <ul class="cbp-slider-wrap">
                  <li class="cbp-slider-item">
                      <a href="" class="">
                          <img src="{{ element.image_url }}" alt="">
                      </a>
                      <p class="legend" ng-repeat="legend in legends" style="position: absolute; width:{{legend.width}}px;height:{{legend.height}}px;left:{{legend.x}}px; top:{{legend.y}}px; font-size:15px;">
                          <a href="#{{legend.legend}}">{{ legend.legend }}</a>
                      </p>
                  </li>
                  <p class="text-center"><b><span class="fa fa-eye"></span> Title : {{fig_title}} </b></p>

              </ul>
          </div>
          <!--/Slider-->
          <!--Container-->
          <div class="cbp-l-project-container">
              <!--Description-->
              <div class="cbp-l-project-related">
                  <div class="cbp-l-project-desc-title">
                      <span>Legends : </span>
                  </div>
                  <div ng-repeat="legend in legends_string" class="cbp-l-project-desc-text {{legend.legend}}">
                    <div class="col-md-9 col-xs-9 col-lg-9">
                      <span class="fa fa-wikipedia-w"></span> <b> {{ legend.legend }}</b> : {{legend.wikipedia_definition.extract}}
                    </div>
                    <div class="col-md-3 col-lg-3 col-xs-3">
                      <img class="img-circle" src="{{legend.image}}" style="width:150px;height:150px;"></img>
                    </div>
                  </div>
              </div>
          </div>
          <!--/Container 2-->
          <br>
          <br>
          <br>
      </div>
    </div>
      <script src="./contents/js/jquery-1.12.4.min.js" type="text/javascript"></script>
      <script src="./contents/js/bootstrap.min.js" type="text/javascript"></script>
      <script src="./contents/portfolio/js/jquery.cubeportfolio.js" type="text/javascript"></script>
      <script src="./contents/portfolio/js/portfolio-1.js" type="text/javascript"></script>
      <script src="./contents/js/retina.min.js" type="text/javascript"></script>
      <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
      <script src="./contents/js/html5shiv.min.js"></script>
      <script src="./contents/js/respond.min.js"></script>
      <![endif]-->
      <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.0.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
      <script src="./contents/js/main.js" type="text/javascript"></script>
      <script src="./javascripts/controller.js" type="text/javascript"></script>

      <style>
      .legend_wikipedia {
        padding-top:350px;
      }
      </style>
</body>
</html>
